<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<p><a href="{% url 'main' %}">메인</a></p>

<h1>read</h1>
<!-- 제목, 내용 검색 -->
<form method="GET" action="{% url 'search' %}">
    <input type="text" name="search" value="{{search}}">
    <input type="submit" value="제목, 내용 검색">
</form>

<!-- 해시태그 검색 -->
<form class="sea" action="" method="GET">
    <input type="text" name="q" value="{{ q }}"/>
    <input type="submit" value="해시태그 검색" />
</form>

<br>
<form method="GET">
    <select name="sort">
        <option value="date">최신순</option>
        <option value="like">좋아요</option>
    </select>
    <button type="submit">정렬</button>
</form>
{% for post in read_forms.all %}
    <h2><a href="{% url 'detail' post.id %}">{{post.title}}</a></h2>
    <p>{{post.created_at}} || {{post.updated_at}}</p>
    <p>❤{{post.like_count}}</p>
    {% if post.image %}
        <img src="{{post.image.url}}" width = "100px" height="100px">
    {% endif %}
{% endfor %}
<hr> 

</body>
</html>